body {
    font-family: system-ui;
    background: #f5f5f5;
}

.container {
    max-width: 700px;
    margin: 2rem auto;
    background: white;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    height: 80vh;
}

.header {
    padding: 0.5rem;
    display: flex;
    gap: 0.5rem;
    opacity: 0.6;
}

.chat {
    flex: 1;
    padding: 1rem;
    width: 100%;
    overflow-y: auto;
}

.bubble {
    max-width: 75%;
    min-width: 25%;
    padding: 0.75rem;
    margin-bottom: 0.5rem;
    border-radius: 12px;
}

.bubble.left {
    background: #e5e5ea;
    align-self: flex-start;
    float: left
}

.bubble.right {
    background: #007aff;
    color: white;
    align-self: flex-end;
    float: right;
}

.input {
    display: flex;
    padding: 0.5rem;
    gap: 0.5rem;
}

textarea {
    flex: 1;
}